body{
    background: #777;
    font-family: Arial, Helvetica, sans-serif, 'Helvetica Neue';
    color:#777;
    width: 960px;
    font-size:18px;
}

nav{

    background:#ebebeb;
    margin:25px;
    padding:10px;
    
}
.section{
    width:495px;
    background:#ebebeb;
    position:relative;
    float:left;
    padding:60;
    height:100px;
    margin: 18px;
    text-align: center;
}

._pink{
    background: #ebebeb;
    margin: 16px;
}

._article{
    color:#ebebeb;
    background: #777;
    margin:auto;
    width: 510px;
    left: 0;
}

.h_p{
    color: #777;
    background:#ebebeb;
    
}
aside {
    position: relative;
    right: 0;
    padding: 98px;
    float: right;
    margin: 25px;
}

footer {
    position: absolute;
    bottom: 480px;
    width: 939px;
}